@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    position: absolute;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn {
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #ba62db 100%);
  padding: 20px;
  color: #FFF;
  font-family: "Roboto";
  text-decoration: none;
  border-radius: 50px;
  transition: 500ms;
}
.btn:hover {
  background: linear-gradient(180deg, #ba62db 0%, #ff79da 100%);
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  background-color: #eaeaea;
}
.location i {
  padding-right: 20px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  height: 290px;
}
.hero h1 {
  margin: 0;
  font-size: 2.5em;
}
@media (max-width: 768px) {
  .hero h1 {
    width: 220px;
    font-size: 1.5em;
  }
}
.hero p {
  font-weight: 300;
  font-size: 1.6em;
}
@media (max-width: 768px) {
  .hero p {
    width: 280px;
    font-size: 1em;
  }
}

.onboarding-list {
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 992px) {
  .onboarding-list {
    flex-direction: column;
    margin-bottom: 2em;
  }
}
.onboarding-list_cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  padding: 20px 35px 20px 35px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
  font-weight: 700;
}
.onboarding-list_cards i {
  padding-right: 30px;
  color: #7e7e7e;
}
.onboarding-list_cards .number {
  position: absolute;
  left: 0;
  transform: translate(-15px);
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
}
.onboarding-list_cards:hover {
  background-color: #f5edff;
}
.onboarding-list_cards:hover i {
  color: #9356DC;
}

.restaurants {
  background-color: #f6f6f6;
}
.restaurants-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 860px;
  margin: 0 auto;
}
.restaurants-card {
  background-color: #FFF;
  border-radius: 10px;
  width: 335px;
  box-shadow: -2px 5px 16px -4px rgba(0, 0, 0, 0.301);
  margin-bottom: 2em;
  position: relative;
}
@media (max-width: 768px) {
  .restaurants-card {
    width: 100%;
  }
}
.restaurants-card.new::after {
  content: "Nouveau";
  position: absolute;
  top: 5%;
  right: 5%;
  font-family: "Roboto";
  font-weight: 700;
  background-color: #99E2D0;
  color: #008766;
  padding: 10px;
  border-radius: 2px;
}
.restaurants-card a {
  text-decoration: none;
  color: #000;
}
.restaurants-card img {
  width: 100%;
  height: 175px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: auto;
  object-fit: cover;
}
.restaurants-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 20px;
}
.restaurants-content h2 {
  margin: 0;
  padding-top: 10px;
}
.restaurants-content p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 15px;
}
.restaurants-content_heart .fa-heart:hover::before {
  content: "\f004";
  background: -webkit-linear-gradient(13deg, #ff79da 0%, #ba62db 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  display: flex;
  margin: 0 auto;
}
.menu-container {
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  transform: translate(0px, -60px);
}
.menu-container h1 {
  font-family: "Shrikhand", cursive;
}
.menu-resto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-resto i {
  font-size: 1.6em;
  font-weight: 400;
}
.menu-categorie h2 {
  text-transform: uppercase;
  font-weight: 0;
  font-size: 1.2em;
}
.menu-categorie h2::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: #99E2D0;
}
.menu-card {
  animation-fill-mode: both;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px 20px 0 10px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  width: 100%;
  box-shadow: -1px 6px 10px 2px rgba(166, 166, 166, 0.34);
}
.menu-card_validate {
  position: absolute;
  text-align: center;
  right: -100px;
  top: 0;
  width: 100px;
  height: 95px;
  background-color: #99E2D0;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s ease-in-out;
}
.menu-card_validate i {
  color: #fff;
  font-size: 1.5em;
}
.menu-card:hover .menu-card_validate {
  right: 0px;
  transition: 0.7s ease-in-out;
  z-index: 2;
}
.menu-card:hover .menu-card_validate i {
  animation: rotate 0.8s linear;
}
.menu-card_content {
  width: 100%;
  transition: 0.8s ease-in-out;
}
.menu-card_content:hover {
  width: calc(100% - 100px);
  transition: 0.7s ease-in-out;
}
.menu-card_title h3 {
  font-family: "Roboto";
  margin: 0;
}
.menu-card_title p {
  margin: 0;
  word-wrap: break-word;
}
.menu-card_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-card_text div > p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.menu-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 4em;
}
.menu-btn .btn {
  display: block;
  width: 100%;
  max-width: 16em;
}

.entree {
  margin-bottom: 2.25em;
  animation: fadein 1s linear;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.plats {
  margin-bottom: 2.25em;
  animation: fadein 1s linear;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.dessert {
  animation: fadein 1s linear;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  animation: fadein 0.8s linear;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

main {
  animation: fadein 2s linear;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

.content {
  max-width: 1400px;
  margin: 0 auto;
}

h1, h2 {
  font-family: "Roboto";
  font-weight: 700;
}

p, a {
  font-family: "Roboto";
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  position: relative;
  box-shadow: 0 5px 2px -1px #5651511f;
}
header a {
  position: absolute;
  left: 20px;
  color: #000;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  footer {
    align-items: flex-start;
  }
}
footer .logofooter {
  color: #fff;
  width: 120px;
}
footer .logofooter svg path {
  fill: #FFF !important;
}
footer a {
  color: #FFF;
  text-decoration: none;
  width: fit-content;
  padding: 5px;
}
footer i {
  padding-right: 10px;
}

.fa-heart {
  font-size: 1.3em;
}
.fa-heart:hover {
  font-weight: 900;
  color: transparent;
  background: -webkit-linear-gradient(13deg, #ff79da 0%, #ba62db 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-heart:focus {
  color: transparent;
  background: -webkit-linear-gradient(13deg, #ff79da 0%, #ba62db 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #9356DC;
  width: 120px;
  height: 120px;
  animation: rotate 1s linear infinite;
  position: absolute;
  top: 15%;
}

.loaderout {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s linear;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

/*# sourceMappingURL=style.css.map */
