header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    position: relative;
    box-shadow: 0 5px 2px -1px #5651511f;
}

.location{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    background-color: #EAEAEA ;
    & i{
        padding-right: 20px;
    }
}

.hero{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: #F6F6F6;
        height: 290px;
    h1{
        margin: 0;
    }
}