.menu {
    img {
        width: 100%;
        height: auto;
        max-width: 1920px;
        display: flex;
        margin: 0 auto;
      }
  &-container{
    background-color: #f6f6f6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transform: translate(0px, -60px);
    
    h1{
        font-family: 'Shrikhand', cursive;
    }
  }
  &-resto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    i{
        font-size: 1.6em;
        font-weight: 400;
    }
}
&-categorie{
    h2{
        text-transform: uppercase;
        font-weight: 00;
        font-size: 1.2em;
        &::after{
            content: '';
            width: 50px;
            height: 2px;
            display: block;
            position: absolute;
            background-color: $color-greenmint;
        }
    }
}

&-card{
    animation: fadein 1s linear;
    animation-fill-mode: both;
    background-color: #FFF;
    border-radius: 20px;
    padding: 15px 20px 0 10px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    &_validate{
        position: absolute;
        text-align: center;
        right: -100px;
        top: 0;
        width: 100px;
        height: 95px;
        background-color: $color-greenmint;
        transition: 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            color: #FFF;
            font-size: 1.5em;
        }
    }
    &:hover{
        .menu-card_validate{
            right: 0px;
            transition: 0.7s;
            z-index: 2;
            i{
                animation: rotate 0.7s;
            }
        }
        
    }
    &_title{
        h3{
            font-family: 'Roboto';
            margin: 0;
        }
        p{
            margin: 0;
            word-wrap: break-word;
        }
        
    }
    &_text{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
&-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4em;
    .btn{
        display: block;
        width: 100%;
        max-width: 16em;
    }
}
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}