* {
    box-sizing: border-box;
    
  }

  body{
      margin: 0;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap');

.container{
    max-width: 375px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2{
    font-family: "Roboto";
    font-weight: 700;
}

p{
    font-family: "Roboto";
}

.onboarding{
    &-list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
}

