* {
    box-sizing: border-box;
    
  }

  body{
      margin: 0;
      animation: fadein 0.8s linear;
      position: relative;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap');
.container{
    margin: 0 auto;
    padding: 20px;
    
    
}

main{
  animation: fadein 2s linear;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

.content{
  max-width: 1400px;
  margin: 0 auto;
}

h1, h2{
    font-family: "Roboto";
    font-weight: 700;
}

p, a{
    font-family: "Roboto";
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    position: relative;
    box-shadow: 0 5px 2px -1px #5651511f;
    a{
        position: absolute;
        left: 20px;
        color: #000;
        
    }
  }

footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 768px){
      align-items: flex-start;
    }
    .logofooter {
      color: #fff;
      width: 120px;
      svg path{
        fill: #FFF !important;
      }
    }
    a{
      color: #FFF;
      text-decoration: none;
      width: fit-content;
      padding: 5px;
    }
    i{
      padding-right: 10px;
    }
  }
  

  .fa-heart{
    font-size: 1.3em;
    
    &:hover{
      animation: bgcolor 0.5s;
      font-weight: 900;
      background:-webkit-linear-gradient(13deg, rgba(255,121,218,1) 0%, rgba(186,98,219,1) 66%);
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
     cursor: pointer;
     
      
    }
   } 


   .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid $color-primary;
    width: 120px;
    height: 120px;
    animation: rotate 1s linear infinite;
    position: absolute; 
    

  }

  .loaderout{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeout 0.2s linear;
    animation-delay: 2.5s;
    animation-fill-mode: both;
    width: 99vw;
    height: 100vh;
  }